{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block header %}
{% include 'inc/_header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="add-wishlist-section">
        <button type="button" class="nes-btn is-success nes-btn-noborder"
            onclick="document.getElementById('add-position-dialog').showModal();">
            +
        </button>
        <button type="button" class="nes-btn is-error nes-btn-noborder"
            onclick="document.getElementById('delete-position-dialog').showModal();">
            -
        </button>
        {% include 'inc/_position-control-section.html' %}
    </div>
    <div class="positions">
        {% for position in positions %}
        <div class="position">
            <div class="pos-title">{{ position.title }}</div>
            <div class="pos-desc">{{ position.description }}</div>
        </div>
        {% empty %}
        Nothing to see here
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}