{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block header %}
{% include 'inc/_header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="add-wishlist-section">
        <button type="button" class="nes-btn is-success nes-btn-noborder"
            onclick="document.getElementById('add-wishlist-dialog').showModal();">
            +
        </button>
        <button type="button" class="nes-btn is-error nes-btn-noborder"
            onclick="document.getElementById('delete-wishlist-dialog').showModal();">
            -
        </button>
        {% include 'inc/_wishlist-control-section.html' %}
    </div>
    {% for wishlist in wishlists %}
    <div class="position">
        <a class="nes-btn nes-btn-noborder" href="{% url 'user-wishlist' wishlist.slug %}">{{ wishlist.name }}</a>
    </div>
    {% empty %}
    Nothing to see here
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include 'inc/_footer.html' %}
{% endblock %}