<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}BASE TITLE{% endblock title %}</title>

    {% include 'inc/_styles.html' %}
</head>
<body>
    {% block header %}
    BASE HEADER
    {% endblock header %}
    
    {% block content %}
    BASE CONTENT
    {% endblock content %}

    {% block footer %}
    BASE FOOTER
    {% endblock footer %}

    {% include 'inc/_scripts.html' %}
</body>
</html>