body {
    font-family: "Press Start 2P";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-wrapper, .logo {
    width: 150px;
}

.logo-wrapper {
    margin: 2%;
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 20px;
}

.header, .footer {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer {
    width: 100%;
    margin-top: auto;
}

.header-buttons, .footer-buttons {
    display: flex;
    margin-right: 5%;
}

.header-button, .footer-button{
    margin: 0 10px;
}

.content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.positions {
    width: 300px;
}

.main-block {
    margin: 3%;
    width: 30%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin-bottom: 30px;
}

.index-text {
    margin: 30px 0;
}

.about-me {
    margin: 2%;
}

.nes-btn-noborder {
    border-image-slice: unset !important; 
    border-image-source: unset !important; 
    border-image-repeat: unset !important; 
    border-image-width: unset !important;
}

.dialog-title {
    width: 100%; 
    margin: 0 auto;
    padding: 3px 0;
}
