body {
    font-family: "Press Start 2P";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-wrapper, .logo {
    width: 150px;
}

.logo-wrapper {
    margin: 2%;
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 20px;
}

.header, .footer {
    height: fit-content;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}


.footer {
    width: 100%;
    margin-top: auto;
}

.header-buttons, .footer-buttons {
    display: flex;
    margin-right: 5%;
}

.header-button, .footer-button{
    margin: 0 10px;
}

.content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.position, .dialog-position, .wishlist-position {
    display: flex;
}

.wishlist-position {
    justify-content: center;
}

.dialog-position {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.btns-positions, .positions {
    margin-bottom: 20px;
}

.positions {
    width: 60%;
}

.position {
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 30px;
    min-height: 200px;
    margin: 20px 0;
    padding: 20px;
}

.text-cap {
    text-transform: capitalize;
}

.pos-title, .pos-desc {
    width: 50%;
}

.pos-title-label, .pos-link-label, .pos-desc-label {
    font-size: small;
    color: grey;
}

.pos-title-content, .pos-link-content, .pos-desc-content {
    height: auto;
    overflow-wrap: break-word;
}

.pos-text {
    text-transform: capitalize;
    width: min-content;
}

.wishlist-public-link {
    display: none;
}

.main-block {
    margin: 3%;
    width: 30%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin-bottom: 30px;
}

.index-text {
    margin: 30px 0;
}

.about-me {
    margin: 2%;
}

.nes-btn-noborder {
    border-image-slice: unset !important; 
    border-image-source: unset !important; 
    border-image-repeat: unset !important; 
    border-image-width: unset !important;
}

.pub-btn {
    width: 50%;
    margin: 0 20px;
}

.dialog-title {
    width: 100%; 
    margin: 20px auto;
    padding: 3px 0;
}

.wishlist-button {
    width: 30%;
}

.wishlist-delete-button, .position-delete-button {
    width: 100%;
}

#delete-wishlist-dialog[open], #delete-position-dialog[open]{
    display: flex;
    flex-direction: column;
}
