<div class="header-buttons">
    {% if request.user.is_authenticated %}
    <div class="header-button">
        <a href="{% url 'user-wishlists' %}">My wishlists</a>
    </div>
    |
    <div class="header-button">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
    <div class="header-button">
        <a href="{% url 'login' %}">Login</a>
    </div>
    |
    <div class="header-button">
        <a href="{% url 'registration' %}">Sign In</a>
    </div>
    {% endif %}
</div>