{% load static %}
<div class="header">
    <div class="logo-wrapper" id="logo-wrapper" style="width: 150px; height: 134px;">
        <!-- <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo" onmouseover="logohandler()" onmouseout="logohandler()"> -->
    </div>

    <div class="header-buttons">
        <div class="header-button">
            <a href="">Lorem</a>
        </div>|
        <div class="header-button">
            <a href="">Lorem</a>
        </div>|
        <div class="header-button">
            <a href="">Lorem</a>
        </div>
    </div>
</div>