<section>
    <dialog class="nes-dialog" id="add-position-dialog">
        <div class="dialog-title">New wishlist</div>
        <form method="post" action="{% url 'add-position' slug %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="nes-btn is-primary nes-btn-noborder" type="submit">Confirm</button>
            <button class="nes-btn nes-btn-noborder" type="button"
                onclick="document.getElementById('add-position-dialog').close()">Close</button>
        </form>
    </dialog>
    <dialog class="nes-dialog" id="delete-position-dialog">
        <div class="dialog-title">Delete position</div>

        <div class="positions">
            {% for position in positions %}
            <div class="position">
                <a class="nes-btn nes-btn-noborder is-error" href="{% url 'delete-position' position.pk %}">{{ position.title }}</a>
            </div>
            {% empty %}
            Nothing to see here
            {% endfor %}
        </div>

        <button class="nes-btn nes-btn-noborder" type="button"
            onclick="document.getElementById('delete-position-dialog').close()">Close</button>
    </dialog>
</section>